---
import Instagram from '@/assets/svg/instagram.svg'
import Facebook from '@/assets/svg/facebook.svg'
import SectionWrapper from '@/components/SectionWrapper.astro'
import Topbar from '@/components/Topbar.astro'

const iconSize = 38
---

<section class='relative w-full h-screen snap-start'>
	<Topbar />

	<div
		class='absolute inset-0 bg-cover bg-bottom bg-[url(/images/fondo_home_cepa.jpg)] bg-blur-sm -z-10'
	>
		<div class='absolute inset-0 bg-black/40'></div>
	</div>

	<SectionWrapper>
		<div
			class='z-10 text-white flex flex-col justify-center pl-32 pr-9 2xl:mt-60 mt-16'
		>
			<h1 class='text-h1 font-extrabold'>
				"Una vida hace la<br />diferencia"
			</h1>
			<h3 class='text-h3 font-semibold mt-6'>
				Acompañanos en esta lucha, sumandote como volunatario o colaborando con
				donaciones.
			</h3>

			<div
				class='bg-primary text-primary-btn font-bold w-max text-white py-1.5 px-1 mt-9'
			>
				Sumate a nuestra misión
			</div>

			<div class='flex justify-end items-center gap-6 mt-10'>
				<a href='#' target='_blank'>
					<Instagram width={iconSize} height={iconSize} />
				</a>

				<a href='#' target='_blank'>
					<Facebook width={iconSize} height={iconSize} />
				</a>
			</div>
		</div>
	</SectionWrapper>
</section>
