---
import SectionWrapper from '@/components/SectionWrapper.astro'
import PostCard from '@/components/PostCard.astro'
import CarrouselHeader from '@/components/CarrouselHeader.astro'
---

<section class='w-full h-screen bg-base snap-start'>
	<SectionWrapper>
		<div class='w-full h-full px-16 pt-10 2xl:pt-24'>
			<CarrouselHeader
				tagLabel='NOVEDADES'
				title='Conocé nuestras últimas noticias'
			/>

			<div class='w-full overflow-x-hidden h-full mt-8 2xl:mt-16'>
				<div class='flex w-max gap-10'>
					<PostCard
						title='Bahia Blanca: segunda visita'
						description='El viernes 14 de marzo voluntarios de las filiales de CEPA Morón y Avellaneda, viajaron a Bahía Blanca...'
						category='Acciones en el territorio'
						location='bahía blanca'
					/>
					<PostCard
						title='Buenos Aires en Red'
						description='El viernes 14 de marzo voluntarios de las filiales de CEPA Morón y Avellaneda, viajaron a Bahía Blanca...'
						category='eventos'
						location='buenos aires'
					/>
					<PostCard
						title='Título'
						description='El viernes 14 de marzo voluntarios de las filiales de CEPA Morón y Avellaneda, viajaron a Bahía Blanca...'
						category='Tag de la noticia'
						location='ubicacion'
					/>
				</div>
			</div>
		</div>
	</SectionWrapper>
</section>
